* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

.img-cars {
    width: 200px;
    height: 150px;
    background-image: url("img/trnavi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: cadetblue;
}