* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

.img-cars {
    width: 300px;
    height: 80px;
    background-image: url("img/trnavi.jpg");
    background-color: cadetblue;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.img-cars:hover {
    background-size: 100%;
}